<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body style="width: 800px ;margin: 0px auto">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/color}">Color</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/product}">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/brand}">Brand</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/order}">Order</a>
        </li>
    </ul>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>