<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brand</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body style="width: 800px ;margin: 0px auto">
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" th:href="@{/color}">Color</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/product}">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/brand}">Brand</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/order}">Order</a>
    </li>
</ul>
<br> <br><br>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">orderAddress</th>
        <th scope="col">customerName</th>
        <th scope="col">customerPhone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="o : ${oder}">
        <th scope="row" th:text="${o.orderId}"></th>
        <th th:text="${o.customerName}"></th>
        <th th:text="${o.orderAddress}"></th>
        <th th:text="${o.customerPhone}"></th>
    </tr>
    </tbody>
</table>
<br><br>
<div class="container">
    <form class="form-horizontal" th:action="@{/order}" method="post">
        <div class="form-group row">
            <label class="control-label col-sm-2" for="orderAddress">orderAddress:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="orderAddress" placeholder="Enter orderAddress" name="orderAddress">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="customerName">customerName:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="customerName" placeholder="Enter customerName" name="customerName">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="customerPhone">customerPhone:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="customerPhone" placeholder="Enter customerPhone" name="customerPhone">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="customerPhone">Số lượng:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="count" placeholder="Enter count" name="count">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 row">
                <label class="control-label col-sm-3"><b>Product</b>:</label>
                <div class="col-sm-5">
                    <div class="checkbox" style="height: 95px;overflow-y: auto" >
                        <label th:each="p : ${prod}"><input type="checkbox" name="productId" th:value="${p.productId}" th:text="${p.productName}"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>